@{
    ViewData["Title"] = "New House";
}

<style>
    body{ 
        background: url(../Background-img-app2.jpg);*/
    background-size: 100% 100%;
    }
    



.topnav .search-container {
            margin-left: 32rem;
   
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

 
</style>

<script src="~/js/site.js" asp-append-version="true"></script>

<div class="text-center">
    <br /><br /><br /><br /><br /><br />
    <h1 class="display-4" style="color:aquamarine; font-family:Garamond"><i>Недвижими имоти<br /> New House</i></h1>
</div>

 
<div class="text-center">
<form asp-controller="Properties" asp-action="Index1" method="get">
    <div class="form-group">
            <label for="SearchString" style="color:aquamarine; font-family:Garamond; font-style:italic; font-size:20px;">Вид жилище:</label>
            <input type="text" name="SearchString" value="@ViewData[" CurrentFilter"]" placeholder="Search.." />
            <input type="submit" value="Search" class="btn btn-primary" style="background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); color:black;" />
    </div>
    </form>
</div>
