@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{ 
        background: url(../Background-img-app2.jpg);*/
    background-size: 100% 100%;
    }
</style>

<div class="text-center">
    <br /><br /><br /><br /><br /><br />
    <h1 class="display-4" style="color:aquamarine; font-family:Garamond"><i>Недвижими имоти<br /> New House</i></h1>
</div>
