@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>
    Докато в глобален мащаб имотните сайтове ежедневно въвеждат иновации целящи да образоват страните по сделката и максимално да улеснят и ускорят цялостния процес по придобиване на имот, в България, не се срещаха подобрения.
    Целта на New House e да предостави всички тези иновационни методи и средства на разположение на разнородните и коренно различни групи от хора ползващи една имотна платформа. 
    С увеличаване броя на хора търсещи имоти, и невъзможността за провеждане на традиционни огледи, липсата на качествен и модерно изграден имотен сайт стана изключително осезаема.

</p>
<img src="~/privacy-pic.jpg" />
