@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>
    Докато в глобален мащаб имотните сайтове ежедневно въвеждат иновации целящи да образоват страните по сделката и максимално да улеснят и ускорят цялостния процес по придобиване на имот, в България, не се срещаха подобрения.
    Целта на New House e да предостави всички тези иновационни методи и средства на разположение на разнородните и коренно различни групи от хора ползващи една имотна платформа. 
    С увеличаване броя на хора търсещи имоти, и невъзможността за провеждане на традиционни огледи, липсата на качествен и модерно изграден имотен сайт стана изключително осезаема.

</p>
<img src="~/privacy-pic.jpg" />
<p>
    Контакти:<br />
    +359 432 239 23
    <br />
    +074 133 452 54
    <br />
    NewHouse@gmail.com
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14069.138206246722!2d24.977550100703017!3d42.610606253193474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9bb105c706aa9%3A0x4e4ad1363caee939!2z0JzQtdC80L7RgNC40LDQu9C10L0g0LrQvtC80L_Qu9C10LrRgSAnJyDQpdGA0LjRgdGC0L4g0JHQvtGC0LXQsicn!5e0!3m2!1sbg!2sbg!4v1684694894057!5m2!1sbg!2sbg" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
