html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* background: url(../Background-img-app2.jpg);*/
    /*background-size: 100% 100%;*/
    background: rgb(15,66,88);
    background: linear-gradient(6deg, rgba(15,66,88,1) 0%, rgba(9,103,107,1) 49%, rgba(13,77,83,1) 100%);
    color:aqua;
}
nav{
    background-color:red;
    color:red;
}
.container-fluid{
    background-color:aquamarine;
}
h1{
    font-family:Garamond;
    font-style:italic;
}
.table{
    color:white;
}
.table th{
    color:aquamarine;
}