html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(62,18,69);
    background: linear-gradient(90deg, rgba(62,18,69,1) 0%, rgba(129,27,165,1) 54%, rgba(62,18,69,1) 100%);
}